.cards-container h2 {
  text-align: center;  
}

.cards {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  }

.card {
  padding: 20px;
  text-align: center;
  width: 300px;
  margin: 20px;
}

.card img {
  height: 60px;
  width: auto;
}

.card p {
  font-size: 15px;
  font-weight: 200;
}

